/*
* Name
* Due Date
* My Favorite Things */

/* The universal selector */

* {

}

/* Body properties here */

body {

}

figure {float: right;}

#friends { height: 400px; width: 300px; }
#music { height: 300px; width: 350px }
#family { height: 400px; width: 300px }